<!DOCTYPE html>
<html>
<head>
    <title>Cyber Range Workstation Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Workstation Challenge Dashboard</h1>

    <div class="progress-bar">
        <div class="progress" style="width: {{ progress }}%"></div>
    </div>

    <div class="card">

        <h2>Question {{ current }} of {{ total }}</h2>

        <p class="question">
            {{ question.question }}
        </p>

        <p class="hint">
            Hint: {{ question.hint }}
        </p>

        <form method="POST">

            <input
                type="text"
                name="answer"
                placeholder="Enter Answer"
                required
            >

            <button type="submit">
                Check Answer
            </button>

        </form>

        {% if result %}
            <div class="error">
                {{ result }}
            </div>
        {% endif %}

    </div>

</div>

</body>
</html>
